/*Code by Kiri Salij and Rachel Miller*/

#layout {
  display: flex;
  flex-flow: column wrap;
}

.mode {
  text-align: center;
  display: flex;
  justify-content: center;
}

.mode button {
  font-size: 16px;
}

.container {
  display: flex;
}

.titanic, .men_and_women, img.ages {
  width: 35%;
}

.button {
  background-color: inherit;
  border: none;
  color: #585858;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: midnightblue;
  color: white;
}

.selected {
	background-color: grey;
  color: white;
}

.buttons {
  list-style-type: none;
  background-color: lightblue;
  text-align: center;
  padding: 0;
  margin: 0;
}

#classes, #sex, #ages {
  width: 11%;
}

p {
  padding: 10px;
  text-align: center;
}
