/* Horizontal navigation */
img.search{
	width:50px;
	height:30px;
	float:left;
	padding-top:10px;
}




h1.home{
	float:left;
	font-size: 20px;
	border:black;
	border-style:solid;
	padding:5px 5px;
}

/*Home button link style */
.home a:link {
  text-decoration: none;
	color: blue;
}
.home a:visited {
  text-decoration: none;
	color: blue;
}
.home a:hover {
  text-decoration: underline;
}
.home a:active {
  text-decoration: underline;
}

h1.home:hover {
	background-color: #555;
	color: white;
}

ul.horizontal-navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f1f1f1;
}

ul.horizontal-navbar li {
	float: right;
}

ul.horizontal-navbar li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.horizontal-navbar li a:hover {
	background-color: #555;
	color: white;
}

h1{
	text-align: center;
}

p {
	padding: 20px;
	border: 3px solid black;
	margin: 10px;
	flex-grow: 1;
}

#sort-header {
	background-color: midnightblue;
	color: white;
}

.vertical-sort {
	list-style-type: none;
	text-align: center;
	background-color: lightblue;
	padding: 15px;
}

.vertical-sort li {
	padding: 5px;
}

.vertical-sort li:hover {
	background-color: blue;
	color: white;
	padding: 5px;
}

#layout {
	display: flex;
}
